@using System.Linq.Expressions

<div class="input-group">
    <InputText @attributes="AdditionalAttributes"
               type="@(show ? "text" : "password")"
               class="form-control"
               Value="@Value"
               ValueChanged="@ValueChanged"
               ValueExpression="@ValueExpression" />

    <button class="btn btn-outline-secondary" type="button" @onclick="() => show = !show">
        <i class="bi @(show ? "bi-eye-slash" : "bi-eye")"></i>
    </button>
</div>

@code {
    private bool show = false;

    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public Expression<Func<string?>>? ValueExpression { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}